# Please fill git platform for backup
# default git platform is Github
GitURL="github.com"

# Please fill git account info in the following order:
# "git_username" "git_password" "git_repo_name"
# git username, git password, git repository name
# It could be just one
# You can make a token instead of using the git password
# example:
# Git=(
# "username"
# "password"
# "reponame"
# )
Git=(
    
)

# Please fill list of databases for backup in the following order:
# "database_name" "database_username" "database_password"
# database name, database username, database password
# It could be one or more than once
# example:
# Database=(
# "database_name1" "database_username1" "database_password1"
# .
# .
# .
# "database_name2" "database_username2" "database_password2"
# )
Database=(

)

# Please fill list of dirs and files for backup in the following order:
# "Path" "PathType" "BackupType"
# path of dir or file, path type is relative/absolute, backup type is copy/move
# It could be one or more than once
# Diffrent between move and copy
# copy: when you are using copy it takes more disk usage but your site is available during the backup process
# move: when you are using move it takes less disk usage but your site is not available during the backup process
# example:
# Dir=(
# "../public_html" "relative" "move"
# "/home/user1/public_html" "absolute" "move"
# .
# .
# .
# "../public_html" "relative" "copy"
# "/home/user1/public_html" "absolute" "copy"
# }
Dir=(

)
