# Please fill git account info in following order:
# "git_username" "git_password" "git_repo_name"
# git username, git password, git repository name
# It could be just one
# example:
# Git=(
# "username"
# "password"
# "reponame"
# )
Git=(
    
)

# Please fill list of databasees for backup in following order:
# "database_name" "database_username" "database_password"
# database name, database username, database password
# It could be one or more then one
# example:
# Database=(
# "database_name1" "database_username1" "database_password1"
# .
# .
# .
# "database_name2" "database_username2" "database_password2"
# )
Database=(

)

# Please fill list of dirs and files for backup in following order:
# "Path" "PathType" "BackupType"
# path of dir or file, path type is relative/absolute, backup type is copy/move
# It could be one or more then one
# example:
# Dir=(
# "../public_html" "relative" "move"
# "/home/user1/public_html" "absolute" "move"
# .
# .
# .
# "../public_html" "relative" "copy"
# "/home/user1/public_html" "absolute" "copy"
# }
Dir=(

)
